<div class="container mt-4">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4">ngx-directive</h1>
        <p class="lead">Set of handy Angular directives.</p>
        <hr class="my-4">
      </div>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col">
      <table class="table table-bordered k-t-r">
        <tbody>
        <tr>
          <td vlahioIfNoContent></td>
          <td [vlahioIfNoContent]="'No content!'"></td>
          <td [vlahioOnOff]="null"></td>
          <td [vlahioOnOff]="false"></td>
          <td [vlahioOnOff]="true"></td>
          <td [vlahioOnOff]="true" [align]="'center'"></td>
          <td [vlahioStatusCircle]="null"></td>
          <td [vlahioStatusCircle]="false"></td>
          <td [vlahioStatusCircle]="true"></td>
          <td [vlahioStatusCircle]="true" [align]="'center'"></td>
          <td [vlahioTrueFalse]="null"></td>
          <td [vlahioTrueFalse]="false"></td>
          <td [vlahioTrueFalse]="true"></td>
          <td [vlahioTrueFalse]="true" [align]="'center'"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <h4 class="display-4 size-2">CSS styles</h4>
      <pre><code class="language-css">
        /* You can add global styles to this file, and also import other style files */
        @import "~@ngx-directive/src/assets/css/ngx-directive.css";
      </code></pre>
    </div>
  </div>
</div>
